* {
    box-sizing: border-box;
    font-family: inter;
}

.header {
    background-color: #F55A5A;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.075em;
    margin-bottom: 40px;
}

.header-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.components{
    display: flex;
    padding: 20px 0px 20px 40px;
    border-bottom: 1px solid #F5F5F5;
}

.component-image {
    width: 165px;
    height: 167px;
    border-radius: 5px;  
    margin-right: 18px; 
}

.first-line {
    display: flex;
    align-items: center; 
    margin-top: 10px;
    line-height: 0px;
}
.first-line > img {
    margin-right: 4px;
}
.first-line > p{
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: 0.17em;
}
.first-line > a {
    font-size: 10px;
    color: #918E9B;
}
.location-icon {
    width: 7px;
    height: 10px;
}

.title-name {
    font-size: 25px;
    font-weight: 900;
    line-height: 0px;
    margin: 15px 10px 35px 0px;
    color: #2B283A;
}
.dates {
    font-size: 11px;
    font-weight: bold;
    line-height: 10px;
}
.description {
    font-size: 11px;   
    max-width: 500px;
}







